@import './qunit/qunit-1.19.0.css';

body {
    overflow: hidden;
    font-family: sans-serif;
    background-image: url("../img/background.png");
}

.play-area {
    width: 884px;
    height: 600px;
    margin: 0 auto;
}

.play-area > div {
    float: left;
    box-sizing: border-box;
}

.player-piece-area {
    width: 140px;
    height: 100%;
    background: rgba(256, 256, 256, 0.35);
    padding: 20px;
}

.board {
    width: 600px;
    height: 600px;
    background: rgba(256, 256, 256, 0.35);
    margin: 0 2px;
    position: relative;
}

#menu-cont {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, .4);
}

.menu-wrap {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    background: white;
    top: 30%;
    position: relative;

}

#game-over {
    display: none;
}

#restart-button {
    font-size: 14px;
}

#ui {
    width: 880px;
    height: 50px;
    background-color: rgba(256, 256, 256, 0.35);
    border: 2px solid rgba(0, 0, 0, 0.3);
    margin: 5px auto;
}

#player-info-one {
    float: left;
}

#other-info {
    float: left;
    width: 600px;
    height: 50px;
    text-align: center;
}

#player-info-two {
    float: right;
}

.info-area {
    width: 140px;
    height: 50px;
    text-align: center;
    font-size: 15px;
}

.player-label {
    font-size: 18px;
}

#graveyards {
    width: 880px;
    height: 64px;
    margin: 5px auto;
    background-color: rgba(256, 256, 256, 0.35);
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#grave-divider {
    width: 2px;
    height: 56px;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 4px auto;
}
